<form id="add-event">
    <h2>Add New Event</h2>
    <h2 id="add-message"></h2>

    <label>Event Name</label>
    <input type="text" name="event[name]" placeholder="Event Name" required />

    <label>Date</label>
    <input type="date" name="event[date]" placeholder="2019-06-10" required />
    <label>Time</label>
    <input type="text" name="event[time]" placeholder="Time" required />
    <label>Start Location</label>
    <input type="text" name="event[location]" placeholder="Location" required />
    <label>Description</label>
    <textarea rows="4" cols="50" name="event[description]" placeholder="Description" required></textarea>
    <label>Hare</label>
    <input type="text" name="event[hare]" placeholder="Hare" required />
    <label>Bag Car</label>
    <input type="text" name="event[bag_car]" placeholder="Bag Car" required />
    <input type="submit" value="Add Event" />
  </form>
  <button class="cancel">Cancel</button>
